apply
build
soap
Makefile
test/old
test/back
*~
*.pyc
*.coeff
*.cube
*.arch
*.back

clean.sh
cxx_tests/load.gp
cxx_tests/soap_tests/
cxx_tests/src/gtest_options.py
cxx_tests/src/soap
cxx_tests/tmp
cxx_tests/tmp_basis
cxx_tests/tmp_cutoff
make.sh
py_tests/sandbox/
py_tests/src/config_simple_L.xyz
py_tests/src/kernel.py
py_tests/src/soap
py_tests/src/test.py
src/soap/tools/.ipynb_checkpoints/
src/soap/tools/sandbox.ipynb
test/configs/C60.xyz
test/configs/C60_pair.xyz
test/configs/DCV5T_ME3.xyz
test/configs/d2t/
test/configs/line.xyz
test/configs/linedot.xyz
test/configs/misc/
test/density.load.gp
test/l1.tab
test/soap
test/svd/
test/test_integrals/d2t.tar
test/test_integrals/system_alq3/
test/test_integrals/system_dcv2t/
test/test_integrals/system_dpbic/
test/test_integrals/work_dcv2t/
test/test_invert/soap
test/test_invert/test_qnlm.py
test/test_invert/vmdrender.py
test/test_invert/vmdsetup.tcl
test/test_invert/vmdtools.py
test/test_invert_standalone/line.xyz
test/test_invert_standalone/soap
test/test_invert_standalone/vmdsetup.tcl
test/test_kernelpot/ksize_1_xi_4
test/test_kernelpot/ksize_2_xi_4
test/test_kernelpot/load.gp
test/test_kernelpot/load_3d.gp
test/test_kernelpot/load_vec.gp
test/test_kernelpot/log.xyz
test/test_kernelpot/log_cg.xyz
test/test_kernelpot/map_excludecenters_2_3_centerweight_0.0
test/test_kernelpot/map_excludecenters_2_3_centerweight_0.0_no_2l+1
test/test_kernelpot/map_excludecenters_2_3_centerweight_0.5
test/test_kernelpot/map_excludecenters_2_3_centerweight_0.5_no_2l+1
test/test_kernelpot/map_excludecenters_2_3_centerweight_0.5_with_2l+1
test/test_kernelpot/map_excludecenters_2_3_centerweight_0.5_with_2l+1_vectors
test/test_kernelpot/map_excludecenters_2_3_centerweight_1.0
test/test_kernelpot/map_excludecenters_2_3_centerweight_1.0_no_2l+1
test/test_kernelpot/map_excludecenters__centerweight_0.5_no_2l+1
test/test_kernelpot/map_steep_conjgrad.py
test/test_kernelpot/out
test/test_kernelpot/out_global
test/test_kernelpot/plot_global/
test/test_kernelpot/plot_sanity_check/
test/test_kernelpot/plot_sanity_check_summed/
test/test_kernelpot/soap
test/test_kernelpot/tmp
test/test_kernelpot/tmp2
test/test_multiprocessing/group_rnd_2048.tar
test/test_multiprocessing/group_rnd_2048/
test/test_multiprocessing/group_rnd_short/
test/test_multiprocessing/process.py.fiddle
test/test_multiprocessing/soap
test/test_particle_collection/soap
test/test_particle_collection/vmdsetup.tcl
test/test_serialization/config_000057.xyz.spectrum.arch-2
test/test_serialization/soap
test/test_serialization/vmdsetup.tcl
test/test_suite/
test/test_types/soap
test/tmp
test/vmdsetup.tcl
